<main class="register">
  <div class="register__wrapper">
    <h1 class="register__title">Регистрация</h1>
    <form class="register__form" name="login">
      <div class="register__inputs-wrapper">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputPhone}}}
        {{{inputPassword}}}
        {{{inputPasswordRepeat}}}
      </div>
      <div class="register__buttons-wrapper">
        <p class="register__error-message">Ошибки API</p>
        {{{button}}}
        {{{buttonLogin}}}
      </div>
    </form>
  </div>
</main>
