<main class="profile">
  <div class="profile__back">
    <button class="profile_back-button btn-link" type="button"></button>
  </div>
  <div class="profile__data">
    <div class="profile__data-wrapper">
      {{{avatarProfile}}}
      {{{title}}}
      <form class="profile__form" name="profile">
        <div class="profile__form-inputs-wrapper">
          {{{inputPassword}}}
          {{{inputNewPassword}}}
          {{{inputNewPasswordRepeat}}}
        </div>
        <div class="profile__form-links-wrapper">
          {{{buttonSubmit}}}
          {{{buttonExit}}}
        </div>
      </form>
    </div>
  </div>
</main>
