<div class='input'>
  <label class='input__label'>{{label}}</label>
  <input
    class='input__inner {{#if error}}input__inner_error{{/if}}'
    placeholder={{placeholder}}
    name={{name}}
    type={{type}}
    required
  />
  <p class='input__error'>{{#if error}}{{error}}{{/if}}</p>
</div>
